In [1]:
# Dependencies and Setup
import pandas as pd
from sqlalchemy import create_engine

In [2]:
ratings_path = "data/metacritic.csv"
ratings_df = pd.read_csv(ratings_path)
ratings_df.head()

,game,platform,developer,genre,number_players,rating,release_date,positive_critics,neutral_critics,negative_critics,positive_users,neutral_users,negative_users,metascore,user_score
0,Portal 2,PC,Valve Software,Action,NaN,E10+,"Apr 18, 2011",51,1,0,1700,107,19,95,90
1,The Elder Scrolls V: Skyrim,PC,Bethesda Game Studios,Role-Playing,No Online Multiplayer,M,"Nov 10, 2011",32,0,0,1616,322,451,94,82
2,The Legend of Zelda: Ocarina of Time 3D,3DS,GREZZO,Miscellaneous,No Online Multiplayer,E10+,"Jun 19, 2011",84,1,0,283,20,5,94,90
3,Batman: Arkham City,PC,Rocksteady Studios,Action Adventure,NaN,T,"Nov 21, 2011",27,0,0,240,34,27,91,87
4,Super Mario 3D Land,3DS,Nintendo,Action,No Online Multiplayer,E,"Nov 13, 2011",81,1,0,251,39,11,90,84

In [38]:
ratings_only_df = ratings_df[['game', 'positive_critics', 'neutral_critics', 'negative_critics', 'positive_users', 'neutral_users', 'negative_users']]
ratings_only_df = ratings_only_df.rename(columns={"game": "game_name",
    "positive_critics": "critics_positive",
    "neutral_critics": "critics_neutral",
    "negative_critics": "critics_negative",
    "positive_users": "users_positive",
    "neutral_users": "users_neutral",
    "negative_users": "users_negative"})
ratings_only_df.drop_duplicates("game_name", inplace=True)
ratings_only_df = ratings_only_df.set_index('game_name')
ratings_only_df

,critics_positive,critics_neutral,critics_negative,users_positive,users_neutral,users_negative
game_name,,,,,,
Portal 2,51,1,0,1700,107,19
The Elder Scrolls V: Skyrim,32,0,0,1616,322,451
The Legend of Zelda: Ocarina of Time 3D,84,1,0,283,20,5
Batman: Arkham City,27,0,0,240,34,27
Super Mario 3D Land,81,1,0,251,39,11
...,...,...,...,...,...,...
Modern Combat: Blackout,0,5,2,1,0,1
Fimbul,0,7,2,1,0,0
Generation Zero,1,11,6,5,2,6
Vane,3,26,22,2,2,2
Left Alive,1,7,27,25,8,21

In [41]:
steam_path = "data/steam.csv"
steam_df = pd.read_csv(steam_path)
steam_df.head()

,QueryID,ResponseID,QueryName,ResponseName,ReleaseDate,RequiredAge,DemoCount,DeveloperCount,DLCCount,Metacritic,...,LegalNotice,Reviews,SupportedLanguages,Website,PCMinReqsText,PCRecReqsText,LinuxMinReqsText,LinuxRecReqsText,MacMinReqsText,MacRecReqsText
0,10,10,Counter-Strike,Counter-Strike,Nov 1 2000,0,0,1,0,88,...,,,English French German Italian Spanish Simplifi...,None,Minimum: 500 mhz processor 96mb ram 16mb video...,,Minimum: Linux Ubuntu 12.04 Dual-core from Int...,,Minimum: OS X Snow Leopard 10.6.3 1GB RAM 4GB...,
1,20,20,Team Fortress Classic,Team Fortress Classic,Apr 1 1999,0,0,1,0,0,...,,,English French German Italian Spanish,None,Minimum: 500 mhz processor 96mb ram 16mb video...,,Minimum: Linux Ubuntu 12.04 Dual-core from Int...,,Minimum: OS X Snow Leopard 10.6.3 1GB RAM 4GB...,
2,30,30,Day of Defeat,Day of Defeat,May 1 2003,0,0,1,0,79,...,,,English French German Italian Spanish,http://www.dayofdefeat.com/,Minimum: 500 mhz processor 96mb ram 16mb video...,,Minimum: Linux Ubuntu 12.04 Dual-core from Int...,,Minimum: OS X Snow Leopard 10.6.3 1GB RAM 4GB...,
3,40,40,Deathmatch Classic,Deathmatch Classic,Jun 1 2001,0,0,1,0,0,...,,,English French German Italian Spanish,None,Minimum: 500 mhz processor 96mb ram 16mb video...,,Minimum: Linux Ubuntu 12.04 Dual-core from Int...,,Minimum: OS X Snow Leopard 10.6.3 1GB RAM 4GB...,
4,50,50,Half-Life: Opposing Force,Half-Life: Opposing Force,Nov 1 1999,0,0,1,0,0,...,,,English French German Korean,None,Minimum: 500 mhz processor 96mb ram 16mb video...,,Minimum: Linux Ubuntu 12.04 Dual-core from Int...,,Minimum: OS X Snow Leopard 10.6.3 1GB RAM 4GB...,

In [45]:
steam_df_relevant = steam_df[['ResponseName']]
steam_df_relevant = steam_df_relevant.rename(columns={"ResponseName": "game_name"})
steam_df_relevant.drop_duplicates("game_name", inplace=True)
steam_df_relevant = steam_df_relevant.set_index('game_name')
steam_df_relevant

Empty DataFrame
Columns: []
Index: [Counter-Strike, Team Fortress Classic, Day of Defeat, Deathmatch Classic, Half-Life: Opposing Force, Ricochet, Half-Life, Counter-Strike: Condition Zero, Half-Life: Blue Shift, Half-Life 2, Counter-Strike: Source, Half-Life: Source, Day of Defeat: Source, Half-Life 2: Deathmatch, Half-Life 2: Lost Coast, Half-Life Deathmatch: Source, Half-Life 2: Episode One, Portal, Half-Life 2: Episode Two, Team Fortress 2, Left 4 Dead, Left 4 Dead 2, Dota 2, Portal 2, Alien Swarm, Counter-Strike: Global Offensive, Rag Doll Kung Fu, Red Orchestra: Ostfront 41-45, Killing Floor, SiN Episodes: Emergence, Darwinia, Uplink, DEFCON, Multiwinia, Dangerous Waters, Space Empires IV Deluxe, Jagged Alliance 2 Gold, Disciples II: Rise of the Elves, Disciples II: Galleans Return, Iron Warriors: T - 72 Tank Command, Space Empires V, Arx Fatalis, Source Filmmaker, Earth 2160, Two Worlds Epic Edition, Dark Messiah of Might & Magic, Quake III Arena, Quake IV, Wolfenstein 3D, Ultimate Doom, Final DOOM, DOOM II, QUAKE, QUAKE II, QUAKE II Mission Pack: The Reckoning, QUAKE II Mission Pack: Ground Zero, QUAKE III: Team Arena, HeXen: Beyond Heretic, HeXen: Deathkings of the Dark Citadel, Heretic: Shadow of the Serpent Riders, The Ship: Murder Party, The Ship: Single Player, Bloody Good Time, Shadowgrounds, Gumboy - Crazy Adventures(tm), RIP - Trilogy(tm), Vigil: Blood Bitterness(tm), Alpha Prime, Vampire: The Masquerade - Bloodlines, GUN(tm), Call of Duty(r), Call of Duty(r) 2, Call of Duty: United Offensive, RollerCoaster Tycoon(r) 3: Platinum, Act of War: Direct Action, ThreadSpace: Hyperbol, ARMA: Combat Operations, X2: The Threat, X3: Reunion, X3: Terran Conflict, X: Beyond the Frontier, X: Tension, X Rebirth, 688(I) Hunter/Killer, Fleet Command, Sub Command, FlatOut 2(tm), GTI Racing, Xpand Rally, Call of Juarez(tm), Xpand Rally Xtreme, Men of War: Red Tide, Kings Bounty: Armored Princess, Painkiller: Black Edition, Genesis Rising, Safecracker: The Ultimate Puzzle Adventure, Painkiller Overdose, Bejeweled 2 Deluxe, Chuzzle Deluxe, Insaniquarium Deluxe, ...]

[13199 rows x 0 columns]

In [28]:
connection_string = "postgres:postgres@localhost:5432/game_ratings_db"
engine = create_engine(f'postgresql://{connection_string}')

In [29]:
engine.table_names()

['ratings', 'games']

In [39]:
ratings_only_df.to_sql(name='ratings', con=engine, if_exists='append', index=True)

In [46]:
steam_df_relevant.to_sql(name='games', con=engine, if_exists='append', index=True)