In [300]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [301]:
file_meta = 'data/metacritic.csv'
file_steam = 'data/steam.csv'

In [302]:
meta_df = pd.read_csv(file_meta)
meta_df.head()

,game,platform,developer,genre,number_players,rating,release_date,positive_critics,neutral_critics,negative_critics,positive_users,neutral_users,negative_users,metascore,user_score
0,Portal 2,PC,Valve Software,Action,NaN,E10+,"Apr 18, 2011",51,1,0,1700,107,19,95,90
1,The Elder Scrolls V: Skyrim,PC,Bethesda Game Studios,Role-Playing,No Online Multiplayer,M,"Nov 10, 2011",32,0,0,1616,322,451,94,82
2,The Legend of Zelda: Ocarina of Time 3D,3DS,GREZZO,Miscellaneous,No Online Multiplayer,E10+,"Jun 19, 2011",84,1,0,283,20,5,94,90
3,Batman: Arkham City,PC,Rocksteady Studios,Action Adventure,NaN,T,"Nov 21, 2011",27,0,0,240,34,27,91,87
4,Super Mario 3D Land,3DS,Nintendo,Action,No Online Multiplayer,E,"Nov 13, 2011",81,1,0,251,39,11,90,84

In [303]:
meta_df_rename = meta_df.rename(columns={'game': 'Title', 'genre': 'Genre', 'release_date': 'Release Date', 'metascore': 'Metacritic Score', 'user_score': 'Player Score'})
new_meta_df = meta_df_rename[['Title','Release Date','Genre','Metacritic Score','Player Score']]
new_meta_df

,Title,Release Date,Genre,Metacritic Score,Player Score
0,Portal 2,"Apr 18, 2011",Action,95,90
1,The Elder Scrolls V: Skyrim,"Nov 10, 2011",Role-Playing,94,82
2,The Legend of Zelda: Ocarina of Time 3D,"Jun 19, 2011",Miscellaneous,94,90
3,Batman: Arkham City,"Nov 21, 2011",Action Adventure,91,87
4,Super Mario 3D Land,"Nov 13, 2011",Action,90,84
...,...,...,...,...,...
5694,Modern Combat: Blackout,"Feb 14, 2019",Action,53,57
5695,Fimbul,"Feb 28, 2019",Action Adventure,52,18
5696,Generation Zero,"Mar 26, 2019",Action Adventure,50,57
5697,Vane,"Jan 15, 2019",Adventure,49,55
5698,Left Alive,"Mar 5, 2019",Action Adventure,37,79

In [304]:
steam_df = pd.read_csv(file_steam)
steam_df_call = steam_df[['ResponseName','ReleaseDate','GenreIsRPG','CategoryMMO']]
new_steam_df = steam_df_call.rename(columns={'ResponseName':'Title','ReleaseDate':'Release Date','GenreIsRPG':'RPG','CategoryMMO':'MMO'})
new_steam_df.head()

                       Title Release Date    RPG    MMO
0             Counter-Strike   Nov 1 2000  False  False
1      Team Fortress Classic   Apr 1 1999  False  False
2              Day of Defeat   May 1 2003  False  False
3         Deathmatch Classic   Jun 1 2001  False  False
4  Half-Life: Opposing Force   Nov 1 1999  False  False

In [305]:
join_title = pd.merge(new_meta_df, new_steam_df)
join_title.head()

Empty DataFrame
Columns: [Title, Release Date, Genre, Metacritic Score, Player Score, RPG, MMO]
Index: []

In [306]:
merge_name = pd.merge(new_meta_df, new_steam_df, how='inner', on='Title')
merge_name

,Title,Release Date_x,Genre,Metacritic Score,Player Score,Release Date_y,RPG,MMO
0,Portal 2,"Apr 18, 2011",Action,95,90,Apr 18 2011,False,False
1,Portal 2,"Apr 18, 2011",Action,95,90,Apr 18 2011,False,False
2,Portal 2,"Apr 18, 2011",Action,95,90,Apr 18 2011,False,False
3,The Elder Scrolls V: Skyrim,"Nov 10, 2011",Role-Playing,94,82,Nov 10 2011,True,False
4,The Elder Scrolls V: Skyrim,"Nov 17, 2017",Role-Playing,84,82,Nov 10 2011,True,False
...,...,...,...,...,...,...,...,...
1837,ToeJam & Earl: Back in the Groove,"Feb 15, 2019",Action,76,48,Coming 2017,False,False
1838,ToeJam & Earl: Back in the Groove,"Mar 1, 2019",Action,68,58,Coming 2017,False,False
1839,ToeJam & Earl: Back in the Groove,"Feb 15, 2019",Action,65,62,Coming 2017,False,False
1840,ASTRONEER,"Feb 6, 2019",Action Adventure,73,71,2016,False,False
1841,8-Bit Hordes,"Feb 1, 2019",Strategy,63,25,Aug 12 2016,False,False

In [307]:
merge_dates = merge_name[['Title','Release Date_x','Genre','Metacritic Score','Player Score']]
merge_dates

,Title,Release Date_x,Genre,Metacritic Score,Player Score
0,Portal 2,"Apr 18, 2011",Action,95,90
1,Portal 2,"Apr 18, 2011",Action,95,90
2,Portal 2,"Apr 18, 2011",Action,95,90
3,The Elder Scrolls V: Skyrim,"Nov 10, 2011",Role-Playing,94,82
4,The Elder Scrolls V: Skyrim,"Nov 17, 2017",Role-Playing,84,82
...,...,...,...,...,...
1837,ToeJam & Earl: Back in the Groove,"Feb 15, 2019",Action,76,48
1838,ToeJam & Earl: Back in the Groove,"Mar 1, 2019",Action,68,58
1839,ToeJam & Earl: Back in the Groove,"Feb 15, 2019",Action,65,62
1840,ASTRONEER,"Feb 6, 2019",Action Adventure,73,71
1841,8-Bit Hordes,"Feb 1, 2019",Strategy,63,25

In [308]:
drop_dup = merge_dates.drop_duplicates(subset='Title').rename(columns={'Release Date_x':'Release Date'})

In [309]:
final_df = drop_dup[drop_dup['Genre'] == 'Role-Playing']

In [310]:
metacritic_best = final_df.sort_values(['Metacritic Score'], ascending=False)
metacritic_best

,Title,Release Date,Genre,Metacritic Score,Player Score
3,The Elder Scrolls V: Skyrim,"Nov 10, 2011",Role-Playing,94,82
748,Undertale,"Sep 15, 2015",Role-Playing,92,83
1103,Stardew Valley,"Dec 14, 2016",Role-Playing,89,77
106,Torchlight II,"Sep 20, 2012",Role-Playing,88,85
1772,CrossCode,"Sep 20, 2018",Role-Playing,86,81
...,...,...,...,...,...
457,Akaneiro: Demon Hunters,"Jan 24, 2013",Role-Playing,53,65
236,Krater,"Jun 12, 2012",Role-Playing,52,71
1830,Fear Effect Sedna,"Mar 6, 2018",Role-Playing,50,66
1551,Zenith,"Sep 20, 2016",Role-Playing,46,66
1556,Crystal Rift,"Nov 29, 2016",Role-Playing,37,63

In [311]:
player_best = final_df.sort_values(['Player Score'], ascending=False)
player_best

,Title,Release Date,Genre,Metacritic Score,Player Score
26,To the Moon,"Nov 1, 2011",Role-Playing,81,89
260,Dust: An Elysian Tail,"May 24, 2013",Role-Playing,85,85
106,Torchlight II,"Sep 20, 2012",Role-Playing,88,85
164,Ys Origin,"May 31, 2012",Role-Playing,76,84
748,Undertale,"Sep 15, 2015",Role-Playing,92,83
...,...,...,...,...,...
66,Forsaken World,"Mar 22, 2011",Role-Playing,69,50
926,Guild of Dungeoneering,"Jul 14, 2015",Role-Playing,72,50
53,Dungeon Siege III,"Jun 20, 2011",Role-Playing,72,47
1018,RymdResa,"Aug 20, 2015",Role-Playing,64,42
561,ArcheAge,"Sep 16, 2014",Role-Playing,80,37

In [312]:
conn = 'postgres:Django420@localhost:5432/rpg_games'
engine = create_engine(f'postgresql://{conn}')
engine.table_names()

['Player Score', 'Metacritic Score']

In [313]:
player_best.to_sql(name='Player Score', con=engine, if_exists='append', index=False)

In [314]:
metacritic_best.to_sql(name='Metacritic Score', con=engine, if_exists='append', index=False)